@import "../../scss/vars";

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: $color-menu;
    z-index: 1050;
    padding-right: 15px;
    border-bottom: 2px solid rgb(248, 159, 55);

    .app-header__logo {
        flex: 1 0 auto;
        color: rgb(248, 159, 55);
        text-align: left;
        font-size: 1.5em;
        padding: 0 15px;
        text-decoration: none;
        line-height: 50px;

        &:focus,
        &:hover {
            text-decoration: none;
            color: rgb(248, 159, 55);
        }

        span {
            font-style: normal;
            font-weight: bolder;
            font-family: "Courgette";
        }

        @media (min-width: 768px) {
            flex: 0 0 auto;
            display: block;
            // width: 200px;
        }
    }

    .app-nav {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        justify-content: flex-end;

        @media (min-width: 768px) {
            flex: 1 0 auto;
        }

        .app-nav-user {
            padding: 18px;
            line-height: 18px;
            color: #000000;
        }

        .app-nav__item {
            display: block;
            padding: 18px;
            line-height: 18px;
            color: #e7800d !important;
            transition: background-color 0.3s ease;
            text-decoration: none;

            &:hover,
            &:focus {
                background: #e7800d;
                color: #ffffff !important;
            }
        }
    }
}


/**
* Partie centrale
*/

.app-content {
    min-height: calc(100vh - 71px);
    margin-top: 50px;
    padding: 20px;
    background-color: #f4f7fa;
    transition: margin-left 0.3s ease;

    @media (max-width: 767px) {
        margin-left: 0;
    }
}

.card {
    background-color: #ffffff;
    border: 0 solid #eee;
    border-radius: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}

.card-header {
    padding: 0.75rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: flex;

    .card-header__title {
        flex: 1 0 auto;
        font-size: 0.9rem;
        font-weight: bold;
    }

    #nombre-element {
        height: calc(1.5em + 0.75rem + 2px);
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.5;
        color: #495057;
        background-color: #f7f7f7f7;
        background-clip: padding-box;
        border: 1px solid #e7800d;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn {
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
    }
}

.card-body {
    padding: 1rem;

    fieldset {
        border: 1px solid #eee !important;
        padding: 10px 5px;
    }

    legend {
        font-size: inherit !important;
        max-width: inherit !important;
        width: inherit !important;
        margin-bottom: 0 !important;
        padding-inline-start: 0.25rem !important;
        padding-inline-end: 0.25rem !important;
        font-weight: bold;
    }

    label {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .form-control {
        height: calc(2rem + 1px);
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
        line-height: 1.5;
        color: #495057;
        border-radius: 0;
        display: inline !important;
        width: 50%;
    }

    hr {
        border-top: 1px solid #eee !important;
    }

    .table {
        color: #666666;

        .form-table {
            display: flex;
            justify-content: center;
        }

        .btn {
            padding: 0.2rem 0.5rem;
            font-size: 0.7rem;
        }
    }
}

.btn {
    font-weight: 400;
    border: 1px solid transparent;
    padding: 0.45rem 0.75rem;
    margin-right: 7px;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-ena {
    color: #fff;
    background-color: #e9b172;
    border-color: #e9b172;
}

.modal-header {
    padding: 0.75rem 1rem;

    .modal-header__title {
        font-size: 0.9rem;
        font-weight: bold;
    }
}

.modal-body {
    label {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .form-control {
        height: calc(2rem + 1px);
        padding: 0.45rem 0.75rem;
        font-size: 0.8rem;
        line-height: 1.5;
        color: #495057;
        border-radius: 0;
    }
}

/*
* Partie footer
*/
.app-footer {
    bottom: 0;
    background: $color-menu1;
    border-left: 1px solid white;
    color: white;
    font-family: "Courgette";
    font-size: 0.8rem;
    padding: 0 10px;
}
